<h2>Follow Users</h2>
            
<table>
    <thead>
        <tr>
            <!--3個目はリンク部分なので空白-->
            
            <th class="th-text">image</th>
            <th class="th-text">name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <% @r_ships.each do |r_ship| %>
            <% user = User.find(r_ship.followed_id) %>
            <tr>
                <td><%= image_tag user.get_profile_image(100,100) %></td>
                <td class="td-text"><%= user.name %></td>
                <td>
                    <p>フォロー数：</p>
                    <%= user.follower_count(user) %>
                </td>
                <td>
                    <p>フォロワー数：</p>
                    <%= user.followed_man_count(user) %>
                </td>
                <td class="td-text"><%= link_to "Show", user_path(user.id) %></td>
            </tr>
        <% end %>
    </tbody>
</table>
<%= paginate @r_ships %>