<% if @user.errors.any? %>
  <p class="er_message"><%= @user.errors.count %> errors prohibited this obj from being saved:</p>
  <ul>
    <% @user.errors.full_messages.each do |message| %>
    <li class="message">・<%= message %></li>
    <% end %>
  </ul>
<% end %>

<div class="container">
  <div class="row">
    <div class="offset-4 col-lg-4">
      <h2>User info</h2>
      
      <!--サイズ横x縦-->
      <%= form_with model: @user do |f| %>
          <p class="form-text">Name</p>
          <%= f.text_field :name, size: "42x20" %>
          <p class="form-text">Image</p>
          <!--拡張子画像のみ-->
          <%= f.file_field :profile_image, placeholder: "選択されていません", accept: "image/*" %>
          <p class="form-text">Introduction</p>
          <%= f.text_area :introduction, size: "45x2" %>
          
          <%= f.submit "Update User", class:"btn btn-secondary d-block" %>
      <% end %>
    </div>
  </div>
</div>