<!--本詳細(/books/show)の時だけその本のuser情報-->
<h2>User info</h2>

<%= image_tag user.get_profile_image(100,100) %>
<table>
    <tbody>
        <tr>
            <td class="td-text"><strong>name</strong></td><td class="td-text"><strong><%= user.name %></strong></td>
        </tr>
        <tr>
            <td class="td-text"><strong>introduction</strong></td><td class="td-text"><strong><%= user.introduction %></strong></td>
        </tr>
    </tbody>
</table>

<!--編集画面へのリンク-->
<%= link_to edit_user_path(user.id), class:"btn btn-outline-secondary btn-block" do %>
    <i class="fa-solid fa-user-gear"></i>
<% end %>






<!--表示にはインスタンス変数book_newが必要-->
<h2>New book</h2>
<%= form_with model: book_new do |f| %>
    <p class="form-text">Title</p>
    <%= f.text_field :title, size: "25x10" %>
    <p class="form-text">Opinion</p>
    <%= f.text_area :body, size: "30x2" %>
    <%= f.submit 'Create Book', class:"btn btn-success" %>
<% end %>