<!--本詳細(/books/show)の時だけその本のuser情報-->
<h1>User info</h1>

<table>
    <tbody>
        <tr>
            <td><%= image_tag user.get_profile_image(100,100) %></td>
        </tr>
        <tr>
            <td>name</td><td><%= user.name %></td>
        </tr>
        <tr>
            <td>introduction</td><td><%= user.introduction %></td>
        </tr>
    </tbody>
</table>

<!--編集画面へのリンク-->
<% if user.id == current_user.id %>
    <%= link_to edit_user_path(current_user.id) do %>
        <p>歯車</p>
    <% end %>
<% else %>
    <%= link_to user_path(current_user.id) do %>
        <p>歯車</p>
   <% end %>
<% end %>




<!--表示にはインスタンス変数book_newが必要-->
<h1>New book</h1>
<%= form_with model: book_new do |f| %>
    <h4>Title</h4>
    <%= f.text_field :title %>
    <h4>Opinion</h4>
    <%= f.text_area :body %>
    <%= f.submit 'Create Book' %>
<% end %>