<% if @book.errors.any? %>
    <p class="er_message"><%= @book.errors.count %>error prohibited this obj from being saved:</p>
    <ul>
        <% @book.errors.full_messages.each do |message| %>
            <li class="message">・<%= message %></li>
        <% end %>
    </ul>
<% end %>

<div class="container">
  <div class="row">
    <div class="offset-4 col-lg-4">
        <h2>Editing Book</h2>
        
        <%= form_with model: @book do |f| %>
            <p class="form-text">Title</p>
            <%= f.text_field :title, size: "40x20" %>
            <p class="form-text">Opinion</p>
            <%= f.text_area :body, size: "45x2" %>
            
        <%= f.submit "Update Book", class:"btn btn-success d-block" %>
        <% end %>
            
        <!--本のshow|destroyページへ-->
        <p>
            <span><%= link_to "Show", book_path(@book.id) %></span>
            |
            <span><%= link_to "Back", books_path %></span>
        </p>
    </div>
  </div>
</div>
