<!--部分テンプレート-->
<p><%= render 'tpl', book_new: @book_new, user: @user %></p>

<!--右半分本文-->
<h1>Book detail</h1>
<div>
    <%= link_to user_path(@book.user.id) do %>
        <div><%= image_tag @book.user.get_profile_image(100,100) %></div>
    <% end %>
    <p><%= link_to "#{@book.user.name}", user_path(@book.user.id) %></p>
    <p><%= @book.title %></p>
    <p><%= @book.body %></p>
    
    <% if @book.user_id == current_user.id %>
        <!--本のeditページへ-->
        <p><%= link_to "edit", edit_book_path(@book.id) %></p>
        <!--本のdestroyページへ-->
        <p><%= link_to "destroy", book_path(@book.id), method: :delete, "data-confirm" => "本当に削除しますか？"%></p>
    <% end %>
</div>
